.title.title-md {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 70%;
    text-align: center;
}
.side-menu-item{
	background: #F53C2C;
	color: white;
	font-weight: 185;
	border: 0px;
	.item-content{
		background: #F53C2C;
		&.activated{
			background: SIDEMENU_TRANSPARENCY;
		}
	}
}
