<ion-menu [content]="mainContent"  >
    <ion-content id="side-menu21"  class="side-menu-item" >
      <div class="spacer" style="width:267.5px;height:52px;" id="menu-spacer1"></div>
      <div class="profile-image">
        <img src="../assets/menu.png" style="display:block;width:90%;height:auto;margin-left:auto;margin-right:auto;" />
      </div>
      <div class="spacer" style="width:267.5px;height:52px;" id="menu-spacer2"></div>
      <ion-list id="menu-list1">
        <ion-item color="none" menuClose="" on-click="goToPage1()" id="menu-list-item1" class="side-menu-item">
          <ion-icon name="home" item-left></ion-icon>
          หน้าหลัก
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToPage2()" id="menu-list-item2" class="side-menu-item">
          <ion-icon name="cart" item-left></ion-icon>
          ตลาดล๊อตเตอรี่
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToPage3()" id="menu-list-item3" class="side-menu-item">
          <ion-icon name="calculator" item-left></ion-icon>
          เลขเด็ด
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToPage4()" *ngIf="signin" id="menu-list-item4" class="side-menu-item">
          <ion-icon name="contact" item-left></ion-icon>
          โปรไฟล์ของฉัน
        </ion-item>
        <ion-item color="none" menuClose="" on-click="goToPage5()" *ngIf="!signin"id="menu-list-item4" class="side-menu-item">
          <ion-icon name="contact" item-left></ion-icon>
          ลงชื่อเข้าใช้ระบบ
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-nav #mainContent [root]="rootPage"></ion-nav>